@model IEnumerable<Gestion.Modelos.Tarea>

@{
    ViewData["Title"] = "Index";
}

<h1>Tareas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crea una nueva tarea</a>
</p>
<table class="table table-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


Total registro: @ViewBag.TotalTareas<br/>
